/* ================== RESET ================== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #272b31;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

canvas {
  display: block;
  background-color: #272b31;
}